body {
    font-family: 'Arimo', sans-serif;
}

.background {
    background-color: #3a4965;
    margin: 0 auto;
    padding: 35px 35px;
    height: 100vh;

}

.table {
    margin: 0 auto;
    background-color: #fff;
    text-transform: uppercase;
    color: #484848;
    text-align: center;
    border-collapse: collapse;
}


.table-row, .table-data, .table-head {
    border: 1px solid lightgray;
    padding: 20px 25px;
}

.table-foot, .body-table{
    font-size: 15px;
}

.linear-gradient {
    box-shadow:-2px 0 1px 0 rgba(189, 185, 189, .6);
}


tbody tr:nth-child(even) {
    background: #e3e3e3;
}

tbody tr:nth-child(odd) {
    background: #f2f2f2;
}

.table-hd-plan {
    vertical-align: middle;
    color: #484848;
    font-weight: bold;
}

.top-hd-plan {
    margin-bottom: 5px;
    font-size: 18px;
}

.bottom-hd-plan {
    font-size: 30px;
}

.price {
    padding: 20px 0;
    vertical-align: middle;
}

.dollars {
    font-size: 60px;
    font-weight: bold;
    color: #484848;
    display: inline-block;
    position: relative;
}

.cell {
    display: inline-block;
    text-align: left;
    font-size: 18px;
}

.cent {
    color: #484848;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: 5px;

}

.text-hd {
    display: block;
    font-size: 22px;
}


.table-property {
    color: white;
    font-size: 30px;
}

.table-hd-green {
    background-color: #89c331;
    border: 1px solid #89c331;
}

.table-hd-red {
    background-color: #f04a56;
    border: 1px solid #f04a56;
}

.table-hd-blue {
    background-color: #20807c;
    border: 1px solid #20807c;
}

.button-connect {
    display: inline-block;
    padding: 17px 0;
    width: 200px;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.button-connect::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0 0 5px 5px;
}

.button-connect-black {
    background-color: #484848;
}

.button-connect-black::before {
    background-color: #404040;
}

.button-connect-green {
    background-color: #89c331;
}

.button-connect-green::before {
    background-color: #79b027;
}


.button-connect-red {
    background-color: #f04a56;
}

.button-connect-red::before {
    background-color: #df3a46;
}

.button-connect-blue {
    background-color: #20807c;
}

.button-connect-blue::before {
    background-color: #16736f;
}

.fas {
    margin-right: 10px;
    color: #848484;
}

.fa-life-ring {
    margin-right: 10px;
}

.body-table td:hover {
    background-color: #dddddd;
}

.table-foot td:hover {
    background-color: #dddddd;
}
