.options{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.background-header{
    background-image: url('../img/background-first.png');
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header-menu-line{
    background-color: rgba(95,93,89,0.3);
}

.header-menu{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.menu{
    display: inline-block;
}

.logo-area {
    display: flex;
}

.logo-background{
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 5px;
}

.logo {
    padding: 10px 15px;
    display: grid;
    font-weight: bold;
    font-size: 40px;
}

.logo-name{
    align-self: center;
    font-size: 32px;
}

.name-of-logo-span{
    color: #18cfab;
    font-weight: bold;
}

.container-menu{
    align-self: center;
}

.menu-text{
    display: inline-block;
    padding-right: 20px;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: #b8b8b8;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-link:hover{
    color: #18cfab;
}

.nav-link:hover::before{
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    height: 2px;
    background-color: #18cfab;
    bottom: -38px;
}

.search{
    display: inline-block;
    position: relative;
}

.search>*:hover{
    color: #18cfab;
}

.search:hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #18cfab;
    bottom: -38px;
}


.fas{
    color: #b8b8b8;
}

.header-page{
    display: grid;
    padding: 200px 0;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-row-gap: 10px;
}

.header-page-paragraph{
    grid-area: 1/1/2/3;
    align-self: center;
    justify-self: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}
.header-page-paragraph-span{
    color: #18cfab;
}

.header-page-title{
    grid-area: 2/1/3/3;
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 79px;
}

.header-page-text{
    grid-area: 3/1/4/3;
    align-self: center;
    justify-self: center;
    font-weight: 300;
    color: #d4d4d4;
    font-size: 34px;
}

.header-page-buttons{
    grid-area: 4/1/5/3;
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
}
.button-style{
    border-top: 3px solid white;
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 20px 10px;
    width: 160px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.explore{
    background: #18cfab;
    margin-right: 15px;
}

.buy{
    background: #00cbf6;
    margin-left: 15px;
}

.option-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.option-block:nth-child(odd){
    background: #1c2a33;
    color: #18cfab;;
}
.option-block:nth-child(even){
    background: #18cfab;
}
.option-block{
    padding: 80px 0;
    display: grid;
    width: 100%;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
    position: relative;
}

.option-block::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: white;
    top:0;
}

.option-block:nth-child(odd)::before{
    background:#18cfab;
}

.text-option{
    align-self: end;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.block{
    color: #4e4e4e;
}

.block-service,.block-amazing-work,.news-block,.people-say-block{
    padding: 100px 0;
}

.block-top-paragraph{
    font-size: 36px;
}

.block-top{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}

.line{
    margin-top: 20px;
    width: 76px;
    height: 1px;
    display: inline-block;
    position: relative;
}

.line::after{
    content:'';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #18cfab;
    position: absolute;
    top:-2px;
    left: -5px;
}

.line::before{
    content:'';
    width: 100%;
    height: 1px;
    background: #18cfab;
    position: absolute;
    top:2px;
    left: 5px;
}

.menu-service{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-bottom: 25px;
}

.menu-service-li{
    border: 1px solid #f3f3f4;
    border-right: none;
    background-color: #f8fcfe;
    color: #717171;
    padding: 20px 0;
    display: grid;
    justify-content: center;
}
.menu-service-li:last-child{
    border-right: 1px solid #f3f3f4;
}

.active{
    border: 1px solid  #18cfab;
    background-color: #18cfab;
    color: white;
    position: relative;
}

.active::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 13px solid #18cfab;
    position: absolute;
    bottom:-13px;
    left: 50%;
    transform: translate(-50%);
}

.post-menu-service{
 display: none;
}

.post-menu-service-active{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 140px;
    grid-column-gap: 20px;
}

.img-post-service{
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.text-post-service{
    align-self: center;
}

.img-post-service-1{
    background-image: url('../img/service1.png');
}

.img-post-service-2{
    background-image: url('../img/service2.jpg');
}

.img-post-service-3{
    background-image: url('../img/service3.jpg');
}

.img-post-service-4{
    background-image: url('../img/service4.jpg');
}

.img-post-service-5{
    background-image: url('../img/service5.jpg');
}

.img-post-service-6{
    background-image: url('../img/service6.jpg');
}

.text-post-service{
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    justify-content: start;
}

.background-block-buy{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../img/layer2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.buy-block{
    padding: 125px 0;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 35px;
}

.title-buy-block{
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.button-buy-block{
    background: #18cfab;
    margin-top: 35px;
}

.block-amazing-work{
    border-bottom: 1px solid #edeff0;
    background-color: #f8fcfe;
}

.ul-amazing-work{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.list-amazing-work{
    border: 1px solid #f4f4f4;
    border-right: none;
    padding: 20px 25px;
    position: relative;
    color: #717171;
}

.list-amazing-work:last-child{
    border-right: 1px solid #f4f4f4;
}

.active-amazing-work{
    color: #18cfab;
}

.active-amazing-work::before{
    content: '';
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #18cfab;
    left: 0;
    top: -1px;
}


.photos-amazing-work{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 70px 0;
}

.background-photos-amazing-work{
    display: inline-block;
    width: 100%;
    height: 207px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hover-block{
    display: none;
    position: absolute;
    grid-template-rows: 1fr 40px 15px 15px 1fr;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: #fff;
    height: 100%;
    width: 100%;
    grid-row-gap: 10px;
}

.strip{
    display: block;
    width: 100%;
    height: 3px;
    background: #18cfab;
}

.fa-link , .fa-search:nth-child(2){
    color: #18cfab;
    padding: 10px;
    border: 1px solid #18cfab;
    border-radius: 50%;
}

.icons>*:hover{
    color: white;
    border: 1px solid #18cfab;
    background: #18cfab;
}


.hover-design{
    font-weight: bold;
    color: #18cfab;
    font-size: 16px;
}

.hover-job{
    color: rgba(138, 138, 138, 255);
}

.background-photos-amazing-work:hover .hover-block{
    display: grid;
}

.part-2{
    margin-top: -70px;
}

.not-active-work{
    display: none;
}

.amazing-work-1{
    background-image: url('../img/amazing-work-1.png');
}
.amazing-work-2{
    background-image: url('../img/amazing-work-2.png');
}
.amazing-work-3{
    background-image: url('../img/amazing-work-3.png');
}
.amazing-work-4{
    background-image: url('../img/amazing-work-4.png');
}
.amazing-work-5{
    background-image: url('../img/amazing-work-5.png');
}
.amazing-work-6{
    background-image: url('../img/amazing-work-6.png');
}
.amazing-work-7{
    background-image: url('../img/amazing-work-7.png');
}
.amazing-work-8{
    background-image: url('../img/amazing-work-8.png');
}
.amazing-work-9{
    background-image: url('../img/amazing-work-9.png');
}
.amazing-work-10{
    background-image: url('../img/amazing-work-10.png');
}
.amazing-work-11{
    background-image: url('../img/amazing-work-11.png');
}
.amazing-work-12{
    background-image: url('../img/amazing-work-1.png');
}

.hidden{
    display: none;
}

.load-amazing-work{
    display: grid;
    justify-content: center;
}
.button-amazing-work{
    border-top: 3px solid #18cfab;
}
.fa-plus{
    color: white;
    padding-right: 5px;
}

.button-amazing-work{
    background-color: #18cfab;
    font-weight: bold;
}

.news-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-background{
    width: 263px;
    height: 208px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.news-data{
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    padding: 15px;
    background: #203e38;
    color: white;
}
.numb{
    justify-self: center;
}

.posts{
    margin-bottom: 45px;
    text-decoration: none;
}

.posts:hover  .news-data {
    background-color: #18cfab;
}
.posts:hover .title-news{
    color: #18cfab;

}
.under-the-post{
    background: #f8fcfe;
    padding: 15px 0 15px 10px;
    color:  #777777;
    border: 1px solid #f3f4f4;
}

.title-news{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.admin{
    padding-right: 10px;
    border-right: 1px solid #9b9c9d;
}
.comments{
    padding-left: 10px;
}

.back-1{
    background-image: url('../img/news1.png');
}

.back-2{
    background-image: url('../img/news2.png');
}

.back-3{
    background-image: url('../img/news3.png');
}

.back-4{
    background-image: url('../img/news4.png');
}
.back-5{
    background-image: url('../img/news5.png');
}
.back-6{
    background-image: url('../img/news6.png');
}
.back-7{
    background-image: url('../img/news7.png');
}
.back-8{
    background-image: url('../img/news8.png');
}

.people-say-block{
    color: #bbbbbb;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background-people.png');
}

.block-top-paragraph-people{
    color: white;
}

.main-people-say{
    display: grid;
    grid-template-rows: 150px 25px 25px 1fr 0.5fr;
    justify-items: center;
    grid-row-gap: 5px;
}
.main-people-say>*{
    align-self: center;
}

.fullname{
    grid-area: 2/1/3/2;
    color: #18cfab;
    text-transform: uppercase;
    font-weight: bold;
}

.job{
    grid-area: 3/1/4/2;
    font-weight: 300;
}

.paragraph-people-say{
    text-align: center;
    position: relative;
    grid-area: 1/1/2/2;
    padding-top: 20px;

}

.paragraph-people-say::before {
    content: '\275B \275B';
    position: absolute;
    font-size: 90px;
    font-weight: bold;
    transform:  translateX(-50%);
    left: 50%;
    color: #18cfab;
    top: -60px;
}


.photo-person{
    height: 140px;
    width: 140px;
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #18cfab;
    display: inline-block;
    z-index: 1;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.photo-person-before{
    z-index: 0;
    height: 170px;
    width: 170px;
    background: rgba(24,207,171,0.3);
    position: relative;
    border-radius: 50%;
}

.slider-of-people{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 30px;
}

.photo-person-slider{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    justify-self: center;
    margin:0 15px;
    box-sizing: content-box;
    position: relative;
}

.slider-photos{
    display: inline-block;
    justify-items: center;
}

.photo{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border: 7px solid rgba(24,207,171,0.3);

}

.photo-person-slider::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    top: -7px;
    left: -7px;

}

.active-person{
    margin-bottom: 10px;
    position: relative;
}

.active-person::before{
    content: '';
    position: absolute;
    width: 46px;
    height: 46px;
    border: 3px solid #18cfab;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.slider-arr{
    padding: 10px 13px;
    border: 1px solid #747c7e;
    color: #747c7e;
}
.slider-arr:hover{
    background-color: #18cfab;
    border: 1px solid #18cfab;
}

.slider-arr:hover > *{
    color: white
}

.footer{
    background: #22353f;
    color:  #aeaeae;
}
.footer-text{
    padding: 45px 0;
    text-align: center;
}
.color-footer{
    color: #18cfab;
}






