.costs-style{
    border: 1px solid grey;
    display:inline-block;
    width: 200px;
    padding: 4px;
}

.close{
    float:right;
    display: inline-block;
    padding: 0px 6px;
    border: 1px solid gray;
    border-radius: 50%;
}

.label-div{
    margin:  10px 0;
}