body {
    font-family: sans-serif;
}

.background {
    height: 100vh;
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
}

.top-bar {
    width: 100%;
    background: rgba(0, 0, 0, .3);
    color: white;
    height: 70px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.inner{
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 1px;
    float: left;
    text-decoration: none;
}

.logo:hover {
    color: #3cb878;
}

.side-menu {
    float: right;
}

.menu-sprite {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
    border-right: 1px solid;
    border-color: rgba(255, 255, 255, 0.3);
}

.sprite {
    display: inline-block;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    text-decoration: none;
    padding-right: 20px;

}

.journey {
    background-position: -5px -75px;
    width: 20px;
    height: 20px;
}

.journey:hover {
    background-position: -5px -50px;
    width: 20px;
    height: 20px;
}

.forum {
    background-position: -5px -25px;
    width: 28px;
    height: 20px;
}

.forum:hover {
    background-position: -5px -0px;
    width: 28px;
    height: 20px;
}

.calendar {
    background-position: -5px -124px;
    width: 19px;
    height: 20px;
}

.calendar:hover {
    background-position: -5px -100px;
    width: 19px;
    height: 20px;
}

.checkin {
    display: inline-block;
    font-size: 20px;
}

.link {
    color: #3cb878;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.modal {
    display: none;
    width: 330px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-50% + 35px));
    background: white;
    border-radius: 10px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
    padding: 30px 60px;
}

.modal:target {
    display: block;
}

.modal-login {
    margin-bottom: 20px;
    position: relative;
}

.modal-login::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #3cb878;
    left: -60px;
}

.title {
    display: inline-block;
    font-size: 22px;
    float: left;
}


.main-container {
    width: 100%;
}

.verification {
    display: inline-block;
    font-size: 18px;
    float: right;
    color: #3cb878;
    text-decoration: none;
}

.verification:hover {
    text-decoration: underline;
}

.button-container {
    padding-bottom: 20px;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    padding: 16px 0;
    text-align: right;
    letter-spacing: 1px;
    cursor: pointer;
}

.loginBtn::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: 10px;
}

.facebook::before {
    content: '';
    background-image: url("../img/facebook.png");
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid #224387;
    width: 30px;
    height: 30px;
}

.loginBtn:focus {
    outline: none;
}

.facebook {
    display: inline-block;
    margin-right: 2.5%;
    background-color: #305db8;
    width: 48%;
    padding-right: 20px;
}

.facebook:hover {
    background-color: #264b96;
    transition: all 1s;
}

.facebook::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: lightgray;
    left: 0;
    bottom: -30px;
}

.google {
    display: inline-block;
    background-color: #df4a32;
    padding-right: 30px;
    width: 48%;
}

.google:hover {
    background-color: #c3412c;
    transition: 1s all;
}

.google::before {
    content: '';
    background-image: url("../img/google.png");
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid #af3a28;
    width: 40px;
    height: 30px;
}

.google::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: lightgray;
    right: 0;
    bottom: -30px;
}

.separate-world {
    width: 100%;
    text-align: center;
    color: lightgray;
    padding-bottom: 20px;
}

.paragraph-world {
    display: inline-block;
}

.input-container {
    margin-bottom: 20px;
}

.input-form {
    border: 1px solid #bebebe;
    display: block;
    height: 45px;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.input-form::placeholder {
    color: #bebebe;
}

.label-form:not(:last-of-type) {
    display: block;
    margin-bottom: 10px;
}

.input-form:focus {
    outline: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.check {
    display: inline-block;
    margin-bottom: 20px;

}

.check-for {
    display: none;
}

.label-check-for {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 1px solid lightgray;
    margin-right: 10px;
    user-select: none;
}

.tick1 {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    height: 0;
    width: 0;
    background: #3cb878;
    top: 50%;
    left: 50%;
    transform: translate(-5px, -1.5px) rotate(-45deg);
    transition: all 200ms;
}

.tick2 {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    height: 0;
    width: 0;
    background: #3cb878;
    top: 50%;
    left: 50%;
    transform: translate(2px, -7px) rotate(45deg);
    transition: all 200ms;
}

.check-for:checked + .tick1 {
    height: 7px;
    width: 2px;
}

.check-for:checked ~ .tick2 {
    height: 14px;
    width: 2px;
}


#checkbox {
    display: inline-block;
}

.check-title {
    display: inline-block;
    vertical-align: super;
}

.check-color {
    color: #3cb878;
}

.footer-button {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.button-create {
    margin: 0 auto;
    width: 100%;
    padding: 15px 0;
    border: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: #3cb878;
}

