body,html{
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: #ffa027;
    background-color: #000;
    overflow: hidden;
}

.container{
    display: inline-block;
    position: absolute;
    width: 1000px;
    height: 100%;
    margin-left: 17%;
    font-size: 300%;
    font-weight: bold;
    text-align: justify;
    transform: perspective(800px) rotateX(50deg);
}

.container::after{
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 100%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
}
.text{
    text-align: center;
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 0s infinite;
}

.text > *{
    margin: 40px 0;
}

.paragraph-1, .paragraph-2{
    font-size: 40px;
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -150%; }
}