body {
    font-family: 'Open Sans', sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background: #1d2124;
    color: #ffffff;
}

.logo-area {
    display: flex;
}

.logo-background{
    background-color: #171a1c;
    display: grid;
}

.logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    height: 27px;
    width: 27px;
    padding: 20px;
    background-position: center;
}

.logo-name {
    display: inline-block;
    align-self: center;
    font-size: 22px;
    font-weight: 700;
}

.logo-name-link {
    text-decoration: none;
    color: white;
}

.nav-bar {
    align-self: center;
}

.li-bar-nav{
    display: inline-block;

}

.nav-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}



.li-bar-nav:not(:last-child) {
    padding-right: 30px;
}

.search {
    background: #171a1c;
    display: flex;
    justify-content: center;
}

.fa-search {
    align-self: center;
    padding: 0 25px;
}

.parallax-header{
    height: 400px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),url('../background/html_css_homework_homework6_img_header-bg.jpeg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.text-parallax-header{
    margin-bottom: 40px;
    font-size: 27px;
    font-weight: 300;
}
.subscribe{
    display: inline-block;
    text-decoration: none;
    color:white;
    background: #89ca62;
    padding: 20px 0;
    width: 170px;
    text-align: center;
    border-radius: 3px;
    margin-right: 20px;
}

.best-architecture{
    display: inline-block;
    text-decoration: none;
    color:white;
    background: #14b9d5;
    padding: 20px 0;
    width: 170px;
    text-align: center;
    border-radius: 3px;
}
.background-color{
    background: #f2f2f2;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.popular-posts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    height: 826px;
    padding-bottom: 40px;
}

.title{
    display: block;
    text-align: center;
    font-size: 27px;
    color:#33bcd3;
    text-transform: uppercase;
    padding: 40px 0;
    font-weight: bold;
}
.post{
    width: 370px;
    margin-bottom: 20px;
}
.photo-post1{
    background-image: url('../img/post-1.png');
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.photo-post2{
    background-image: url('../img/post-4.png');
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-self: start;
}

.photo-post3{
    background-image: url('../img/post-2.png');
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.photo-post4{
    background-image: url('../img/post-5.png');
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.photo-post5{
    background-image: url('../img/post-3.png');
    width: 100%;
    height: 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.photo-post6{
    background-image: url('../img/post-6.png');
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-post{
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    background: #ffffff;
    width: 100%;
}

.background-clients{
    background-image: url('../background/html_css_homework_homework6_img_parallax-bg.jpeg');
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 207px 207px 207px 207px;
    grid-template-rows: 50px 50px 60px;
    grid-row-gap: 30px;
    grid-column-gap: 5px;
}

.title-clients{
    grid-area: 1 /1 / 2 / 5;
    align-self: center;
    justify-self: center;
    color:white;
    font-size: 32px;
    text-transform: uppercase;
}

.hr-clients{
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    border: none;
    grid-area: 2 /1 / 3 / 5;
    align-self: center;
    justify-self: center;
}

.client-1{
    background-image: url(../img/client-1.png);
    width: 172px;
    height: 43px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 3 / 3/ 4/ 4;
    align-self: center;
    justify-self: center;
}

.client-2{
    background-image: url(../img/client-2.png);
    width: 207px;
    height: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 3 / 1/ 4/ 2;
    align-self: center;
    justify-self: center;
}

.client-3{
    background-image: url(../img/client-3.png);
    width: 141px;
    height: 52px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 3 / 4/ 4/ 5;
    align-self: center;
    justify-self: center;
}

.client-4{
    background-image: url(../img/client-4.png);
    width: 135px;
    height: 49px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 3 / 2/ 4/ 3;
    align-self: center;
    justify-self: center;
}

.grid-photo-rated{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 140px;
}

.photo-rated1{
    background-image: url('../img/latest-post.png');
    width: 100%;
    height: 100%;
    background-size: cover ;
    background-position: center;
}
.photo-rated2{
    background-image: url('../img/latest-post-1.png');
    width: 100%;
    height: 100%;
    background-size: cover ;
    background-position: center;
}

.photo-rated3{
    background-image: url('../img/latest-post-2.png');
    width: 100%;
    height: 100%;
    background-size: cover ;
    background-position: center;
}

.photo-rated4{
    background-image: url('../img/latest-post-3.png');
    width: 100%;
    height: 100%;
    background-size: cover ;
    background-position: center;
}

.photo-rated5{
    background-image: url('../img/latest-post-4.png');
    width: 100%;
    height: 100%;
    background-size: cover ;
    background-position: center;
}

.photo-rated6{
     background-image: url('../img/latest-post-5.png');
     width: 100%;
     height: 100%;
     background-size: cover ;
     background-position: center;
}

.rated{
    padding-bottom: 40px;
}

.grid-news {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 60px 1fr 20px 1fr;
    grid-template-rows: 259px 418px 418px 259px;
    grid-row-gap: 40px;
    margin-bottom: 40px;
    line-height: 16px;
    grid-template-areas: 'one one one one one . two'
'three three three . four four four'
'five five five . six six six'
'seven . eight eight eight eight eight';
}

.block-1-8 {
    display: grid;
    grid-template-columns: 483px 1fr;
    width: 100%;
}

.block1 {
    grid-area: one;
}


.block-photo-1 {
    background-image: url('../img-footer/post-1.png');
    grid-area: 1 / 1/ 2/ 2;
}

.block-photo-1-8 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 481px;
    height: 259px;
}

.block-description-1-8 {
    display: inline-block;
    grid-area: 1 / 2/ 2/ 4;
    background-color: #f9f7f7;
    text-align: right;
    padding-right: 30px;
}

.block-title-1-8 {
    margin-top: 40px;
    font-weight: bold;
}

.block-text-1-8 {
    width: 325px;
    margin-top: 22px;
    display: inline-block;
    font-size: 14px;
}

.block2 {
    grid-area: two;
}

.block-2-7 {
    display: grid;
    width: 277px;
}

.block-photo-2-7 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 210px;
}

.block-photo-2 {
    background-image: url('../img-footer/post-2.png');
    grid-area: 1 / 1/ 2/ 2;
}

.block-description-2-7 {
    display: inline-block;
    height: 50px;
    background-color: #f9f7f7;
    grid-area: 2 / 1 / 3/ 2;
    text-align: center;

}

.block-title-2-7 {
    font-weight: bold;
    padding-top: 20px;
}

.block-3-4-5-6 {
    display: grid;
    grid-template-rows: 259px 159px;
}

.block3 {
    grid-area: three;
}


.block-photo-3-4-5-6 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*width: 100%;*/
}

.block-photo-3 {
    background-image: url('../img-footer/post-3.png');
    grid-area: 1 / 1/ 2/ 2;
}

.block-description-3-4-5-6 {
    display: inline-block;
    background-color: #f9f7f7;
    grid-area: 2 / 1 / 3/ 2;
    text-align: right;
    padding-right: 30px;
}

.block-title-3-4-5-6 {
    margin-top: 20px;
    font-weight: bold;
}

.block-text-3-4-5-6 {
    width: 500px;
    margin-top: 22px;
    display: inline-block;
    font-size: 14px;
    text-align: right;
}

.block4 {
    grid-area: four;
}

.block-photo-4 {
    background-image: url('../img-footer/post-4.png');
    grid-area: 1 / 1/ 2/ 2;
}

.block5 {
    grid-area: five;
}


.block-photo-5 {
    background-image: url('../img-footer/post-5.png');
    grid-area: 1 / 1/ 2/ 2;
}

.block6 {
    grid-area: six;
}

.block-photo-6 {
    background-image: url('../img-footer/post-6.png');
    grid-area: 1 / 1/ 2/ 2;
}

.block7 {
    /*grid-area: 4 / 1 / 4 /2;*/
    grid-area: seven;
}


.block-photo-7 {
    background-image: url('../img-footer/post-7.png');
    grid-area: 1 / 1/ 2/ 2;
}

.block8 {
    grid-area: eight;
}

.block-photo-8 {
    background-image: url('../img-footer/post-8.png');
    grid-area: 1 / 1/ 2/ 2;
}

.footer {
    background-color: #1d2124;
}

.footer-contain {
    color: #f2f2f2;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 15fr 0.5fr 0.5fr;
    align-items: center;
}

.img-footer {
    background-image: url('../img/logo-footer.png');
    background-repeat: no-repeat;
    width: 35px;
    height: 28px;
    padding-right: 15px;
}

.name-footer {
    text-transform: uppercase;
    font-weight: bold;
}





