body{

    font-family: Arial,serif;


}

.container{
    position: relative;
    margin:0 auto;
    padding-right: 60px;
    padding-left: 60px;
    text-align: center;
}

header{
    margin: 35px 0;
}
a{
    margin-left: 65px ;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #16A085;
}

img{
    width: 100%;
    height: 790px;
    margin-bottom: 30px;
}

section{
    background-color: #f5f6f7;
}

h2{
    text-transform: uppercase;
    font-size: 22pt;
    margin-bottom: 50px;
}

p{

    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
}

.first_paragraph{
    margin-bottom: 40px;
}

.second_paragraph{
    margin-bottom: 41px;
}

button{
    background-color: #16a085;
    border-radius: 3px;
    border: none;
    padding: 20px 45px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 94px;
}

.footer_text{
    margin: 45px 0;
    text-align: right;
}
